
html, body {
  margin:     0px;
  padding:    0px;
  
}


html {
  background-color: rgba(13, 68, 151, 0.97);

}

nav {
  background-color: rgba(13, 68, 151, 0);;
}

blockquote {
	font-size: 1.5rem;
	border-left: 5px solid rgba(13, 68, 151, 0.97);
	font-style: italic;
}

.container {
  margin:     0 auto;
  max-width:  50rem;
}
.center {
  text-align: center;
}

img {
  border-radius: 5px;
  max-width:100%;
  margin-right: 1%;
  height: auto;
}

* {
  font-family: 'EB Garamond', serif;
  box-sizing: initial;
  text-rendering: optimizeLegibility;
}


h1 {
  
  color: rgba(255,255,255,1);
  font-size: 3rem;
  font-weight: lighter;
  text-shadow: 1px 1px black;
}

@media only screen and (min-width: 993px) {
  h1 {
    font-size: 5rem;

  }
}

h2 {
  color: rgba(255,255,255,0.9);
  font-size: 1.9rem;
  font-weight: lighter;
  text-shadow: 1px 1px black;
}

h3 {
  color: rgba(0,0,0,1);
  font-size: 1.7rem;
  font-weight: lighter;
}
ul {
  list-style-type: upper-roman;
  font-size: 1.4rem;
}

.circle-li {
  list-style-type: circle;
}

.decimal-li {
  list-style-type: decimal;
}

a {
  text-decoration: underline;
  color: black;
}

p {
  font-size: 1.4rem;
}

.wrapper {
  margin-left:2vh;
  margin-right:2vh;
  margin-top:2vh;
  margin-bottom:2vh;
  min-height: 94vh;
  border:solid;
  border-radius: 5px;
  border-width: 5px;
  border-color:rgba(255,255,255,1) rgba(255,255,255,1) rgba(255,255,255,1) rgba(255,255,255,1);
  
}

#contact-link {
  margin-top: 1rem;
  margin-bottom: 5rem;
  background-color: rgba(0,0,0,1);
}

#contact-link:hover {
  background-color: rgba(0,0,0,0.6) ;
}

.btn {
  margin: 1rem;
}

.transparent{
  background-color: rgba(0,0,0, 0.3)!important;
}

.btn:hover {
  background-color: rgba(0,0,0, 0.4)!important;
}
  canvas {
  display: block;
  max-width: 100%;
  vertical-align: middle;
  position:absolute; top:0;left:0;
  z-index:-1;
}
